<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <footer class="footer__container" id="footer">
       
        <div class="footer__container">
          <h2 class="footer__title">Acompanhe o nosso crescimento e novidades</h2>
          <p class="footer__text">Fique por dentro das nossas evoluções e atualizações</p>
          </div>

          <h6 class="footer_subtitle:">Vamos nos conectar:</h6>
          <div class="footer__links">
            <a href="https://www.linkedin.com/in/andrey-rocha-kadoch-63907b235/" target="_blank">
              <img src="assets/images/linkedin.png"
              alt="Logo Likedin"
              class="footer__img">
              </a>
            
              <a href="https://github.com/Kadockh/" target="_blank">
                <img src="assets/images/github.png"                 
                alt="Logo GitHub"
                class="footer__img">
              </a>
              
        </div>
              </div>
              <p class="footer_copyright">© 2025 Andrey Kadoch. Todos os direitos reservados.</p>
              <img class="logokadockh" src="assets/images/logokadockh.jpg" alt="">
  
      </footer>
      <script src="js/Javascript.js"></script>
</body>
</html>