<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Header</title>

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <header class="header" id="header">
        <section class="header__container">
          <div class="header__logo-menu">
            <div class="header__logo">
              <img
                src="assets/images/logokadockh.jpg"
                alt="Logo da Kadotech"
                loading="lazy"
               /> <h6>Kadotech</h6>
            </div>
            <button class="header__hamburger" aria-label="Abrir menu">
              &#9776;
            </button>
            <nav class="header__nav" aria-label="Menu principal">
              <ul class="header__nav-list">
                <li class="header__nav-item"><a href="index.html">Home</a></li>
                <li class="header__nav-item"><a href="product.html">Produto</a></li>
                <li class="header__nav-item"><a href="sobre.html">Sobre Nós</a></li>
                <li class="header__nav-item"><a href="marca.html">Marca</a></li>
              </ul>
             </div>
            </nav>
            <div class="header__actions">
              <button
                class="btn  btn__entrar"
                role="button"
                aria-label="Entrar no sistema"
              >
                Entrar
              </button>
              <button
                class="btn btn-primary btn__cadastrar"
                role="button"
                aria-label="Cadastrar-se no sistema"
              >
                Cadastrar
              </button>
                   </div>
        </section>
      </header>
      <script src="js/Javascript.js"></script>


</body>

</html>

