:root {
  --cor-principal: rgb(31, 88, 175);
  --cor-secundaria: #c7cad1;
  --cor-neutra: #ffffff;
  --cor-preta: black;
  --preto-hover: #252525b7;
  --cor-textoComum: #747272;
  --fundoAzul-baixaOpacidade: rgba(36, 86, 142, 0.05);
  --pesoTexto-medio: 500;
  --pesoTexto-titulo: 600;
  --pesoTexto-informativo: 400;
  --cor-header-footer: #eef1f9;
}

@import url(reset.css);

* {
  box-sizing: border-box;
}

/* Header e Footer */
header,
footer {
  background-color: var(--cor-header-footer);
}

header {
  box-shadow: 0px 2px 4px 0px var(--preto-hover);
}

/* Container Geral */
.header {
  width: 100%;
  padding: 1em 6em;
  margin-bottom: 6em;
}

/* Seção do Header */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
}

/* Logo e Menu */
.header__logo-menu {
  display: flex;
  align-items: center;
  gap: 96px;
}

.header__hamburger {
  display: none; 
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo img {
  max-width: 8em;
}

.header__nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 32px;
}

.header__nav a {
  text-decoration: none;
  font-weight: var(--pesoTexto-medio);
  color: var(--cor-textoComum);
  transition: padding-bottom 0.2s linear, border-bottom 0.2s linear;
}

.header__nav a:hover {
  padding-bottom: 0.3em;
  border-radius: 0.2em;
  border-bottom: solid 2px var(--cor-principal);
}

/* Login e Botões */
.header__actions {
  display: flex;
  gap: 12px;
}

.btn__entrar,
.btn__entrar:hover,
.btn__entrar:active {
  background: none;
  border: none;
  font-weight: var(--pesoTexto-medio);
  color: var(--cor-textoComum);
}
.btn__cadastrar {
  background-color: var(--cor-principal) !important ;
  color: var(--cor-neutra);
  font-weight: var(--pesoTexto-medio);
  border: none;
  transition: box-shadow 0.4s linear;
}

/* Seção Sobre */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-bottom: 4em;
}

.about__subtitle {
  color: var(--cor-principal);
}
.about__title {
  font-weight: var(--pesoTexto-titulo);
  font-size: clamp(1.5rem, 2.5rem, 3rem);
  
}

.about__text {
  width: clamp(300px, 44vw, 1200px);
  text-align: center;
  font-size: clamp(1rem, 1.35rem, 2rem);
  color: var(--cor-textoComum);
  margin: 0 auto;
  font-weight: var(--pesoTexto-informativo);
  line-height: 1.0;
}

/* === Media Queries === */

@media (max-width: 768px) {
    .header__hamburger {
      display: block; /* Exibe o ícone do menu */
    }
  
    .header__nav {
      display: none; /* Oculta o menu por padrão */
      flex-direction: column;
      background-color: var(--cor-header-footer);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      gap: 20px;
      padding: 1em 0;
    }
  
    .header__nav.open {
      display: flex; /* Exibe o menu ao abrir */
    }
  
    .header__nav-list {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }